<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nais</title>
    <link rel="stylesheet" href="../assets/style/04_style.css">
</head>
<body>
    <div id="container">
        <img src="../assets/img/home/kazuha-jumbotron.png" alt="">
        <div id="container2">
            <img src="../assets/img/home/kazuha-jumbotron.png" alt="">
        </div>
    </div>
    <a href="04_code.html">Balik lagi nich!</a>
</body>
</html>
