<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abbasas</title>
    <link rel="stylesheet" href="../assets/style/05_style.css">
</head>
<body>
    <div id="container">
        <h1>Aku Bisulan! Pecahin dong!</h1> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dignissimos, quisquam repudiandae molestiae et deleniti exercitationem labore! Iusto laboriosam saepe dolores laudantium nobis? Porro autem minima, animi at aliquid magni.
        Hic nostrum veritatis veniam doloremque voluptate libero aperiam, iste recusandae explicabo, tempora aut rerum blanditiis vitae delectus officia suscipit nemo est sed beatae? Aspernatur, amet adipisci necessitatibus optio labore libero?
        Quibusdam sequi incidunt quam, quia maiores officia facilis nobis quo, rerum nulla accusamus illum? Recusandae dolore quidem modi nesciunt laboriosam necessitatibus delectus mollitia excepturi molestias illo enim, odit a tenetur.
        Nulla dicta aperiam nisi suscipit enim. Nam reprehenderit, debitis, exercitationem soluta nemo, praesentium suscipit repudiandae quia voluptate nostrum quasi quidem animi! Suscipit, temporibus neque! Veritatis voluptas iusto reprehenderit debitis eos!
        Et iste sit dolores harum laudantium itaque qui ad cupiditate, voluptatibus voluptates temporibus nisi dolore explicabo possimus pariatur sequi earum doloremque non? Incidunt ipsa labore asperiores harum vel modi ratione?
        Numquam pariatur distinctio corporis totam hic aspernatur doloribus? Enim doloribus ex quam odit nihil ullam at quisquam veniam, autem aperiam pariatur officia necessitatibus optio asperiores distinctio labore, libero, consectetur nulla.
        Consequuntur quibusdam commodi et atque corporis blanditiis repudiandae modi cumque minus ipsum nisi inventore ab, architecto nesciunt iure tempore vitae. Veritatis itaque provident repellendus consequatur eligendi reprehenderit commodi nostrum quaerat.
        A vero necessitatibus id, accusantium culpa error fugit ipsam in totam porro illo quasi, nisi ullam assumenda eius sed laboriosam adipisci vitae cupiditate doloremque quos aperiam voluptates. Libero, velit quam.
        Odio impedit amet iste excepturi dignissimos omnis illo ullam animi dolorum accusantium assumenda, ad praesentium quasi eos aperiam commodi fugiat at modi ipsa aliquid id sapiente labore accusamus ipsam. Vitae!
        Sit, delectus. Non vitae ab quos quaerat unde impedit, repudiandae omnis quod provident vel, ea libero, voluptatum debitis! Quia error numquam placeat qui quisquam eos, doloremque et eaque quibusdam. Saepe.
        Cum ex sit, quibusdam sunt numquam tempora officiis nemo nihil maiores sed? Tempore nisi, et praesentium facilis iste deleniti repellendus nihil iusto ipsam amet illo autem sint est nam libero?
        Corrupti, suscipit officiis iusto exercitationem architecto debitis accusantium maiores molestias iste odio dicta. Quibusdam quod nulla, rem incidunt vitae odio officia eum, esse nostrum obcaecati distinctio libero dolores itaque unde!
        Qui accusamus laudantium suscipit, perferendis, veniam ducimus placeat voluptatibus molestiae quod repudiandae aspernatur officia doloremque illum facilis consectetur porro sunt exercitationem cum voluptatum rem? Eveniet quaerat dolorem est id aperiam.
        Harum quos esse ab, sapiente distinctio enim laboriosam nemo eum reiciendis, repellendus cupiditate eaque? Sed quas odio facilis quisquam magni. Eius, quia! Nobis qui deserunt, esse omnis non consequuntur molestiae.
        Qui dicta ex quibusdam nemo excepturi magni veritatis, et culpa eos totam ipsa? Saepe suscipit consequuntur dignissimos neque dolore magnam sapiente fuga corporis dolorem, illum, quidem quis aspernatur mollitia! Quas.
        Sapiente reprehenderit iste molestiae ratione vero animi inventore itaque vel. Sed sit perspiciatis quos asperiores temporibus aliquid nesciunt quasi, ipsa velit aperiam provident quaerat consequatur, hic libero vero, a illum.
        Ipsum saepe quaerat modi ullam. Quasi sint ipsum aliquid veniam, magni, rerum aliquam dolor voluptatem, maxime quam dignissimos voluptates ratione cum sit. Explicabo inventore, reiciendis ab nobis ea dolorum neque.
        Unde, dolorem amet adipisci rem aperiam ex odit quia sunt ad quaerat, aliquam voluptate eum temporibus aspernatur. Iure quisquam accusantium officia officiis! Error tenetur placeat sapiente repudiandae deleniti quo non?
        Omnis fugiat porro neque ipsam! Est nesciunt quia esse facere modi quos dolorum? Amet, iusto. Natus in molestias quasi labore blanditiis hic, sit atque odio facilis neque exercitationem saepe consequuntur?
        Officia quas labore, quia molestiae doloremque dolorem quaerat aliquid eos facere adipisci laborum nam et excepturi aspernatur nihil facilis nemo odit totam iure. Eius eligendi facilis tempore ipsa quo laborum!
        </p>
    </div>
    <a href="#container">Klik Saya</a>
    <br>
    <a href="03_code.html">Pindah Zhongli jelek deh!</a>
</body>
</html>