<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/navFoot.css">
</head>
<body>
    <div class="nav-container" >
        <div id="navBar">
            <div class="navBarItem">
                <ul>
                    <li><a link="#">Home</a></li>
                    <li><a link="#">Character</a></li>
                    <li><img src="../assets/img/logo-white-no-bg.png" alt=""></li>
                    <li><a link="#">Location</a></li>
                    <li><a link="#">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="jumbotron">
            
        </div>
    </div>

    <ul>
        <li>He</li>
        <li>Him</li>
        <li>Her</li>
        <li>Hoho</li>
        <li>Momo</li>
    </ul>
    <h1>Bayangkan</h1>
</body>
</html>