<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judul</title>
    <link rel="stylesheet" href="../assets/style/style.css">
</head>
<body>  
    <h1>Nais</h1>
    <a href="https://google.com">Klik Saya</a>
    <button>Klik Saya 2</button>
    <ol>
        <li class="barang">Baju</li>
        <li>Celana</li>
        <li>Tank Top</li>
        <li id="wajib">Lipstik</li>
        <li class="barang">Sendal</li>
    </ol>
</body>
</html>