<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liyue</title>
    <link rel="stylesheet" href="../../assets/style/characters/inazuma.css">
    <link rel="stylesheet" href="../../assets/style/navFooter.css">
</head>
<body>

    <div class="container">
        <div id="navBar">
            <div class="navBarItem ml-5">
                <div class="navBarLogo">
                    <img src="../../assets/img/logo-white-no-bg.png" alt="">
                    <div class="navBarContent">
                        <div class="navBarClick"><a href="../home.html">Home</a></div>
                        <div class="navBarClick"><a href="mondstadt.html">Characters</a></div>
                        <div id="navBarDropDown" class="navBarClick">
                            <a href="#" class="disabled">Explore</a>
                            <div id="dropDownMenu">
                                <ul>
                                    <li><a href="../maps.html">Maps</a></li>
                                    <li><a href="../about.html">About Game</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navBarItem mr-5">
                <div class="navBarSignUp">
                    <div class="navBarClick"><a href="../register.html">Register</a><img src="../../assets/img/register.png" alt=""></div>
                </div>
            </div>
            <div class="hamburgerIcon">
                <svg class="open" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <svg class="close" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
            </div>
            <div class="navBarSide">

                <div class="navBarSideItem"><a href="../home.html">Home</a></div>
                <div class="navBarSideItem disabled"><a href="#">Characters</a></div>
                <div class="navBarSideItem"><a href="../maps.html">Maps</a></div>
                <div class="navBarSideItem"><a href="../about.html">About Game</a></div>
                <div class="navBarSideItem"><a href="../register.html">Register</a></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="content">
            <div class="charVision">
                <img id="charVision" src="../../assets/img/characters/inazuma/vision-1.png" alt="">
            </div>
            <div class="blackLine">
                <img src="../../assets/img/characters/darkbar.png" alt="">
            </div>
            <div class="char">
                <img id="charBigImg" src="../../assets/img/characters/inazuma/big-1.png" alt="">
            </div>
            <div class="charName">
                <h1 id="charName">EI</h1>
            </div>
            <div class="charDesc">
                <p id="charDesc">The Raiden Shogun is the awesome and terrible power of 
                    thunder incarnate, the exalted ruler of the Inazuma 
                    Shogunate.
                    With the might of lightning at her disposal, she commits 
                    herself to the solitary pursuit of eternity.</p>
            </div>
            <div class="clickMenu">
                <div class="charOption p-active">
                    <div class="sliderWrapper">
                        
                        <img class="sliderBorder" src="../../assets/img/characters/slider-active.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/inazuma/small-1.png" alt="">
                        <p class="">Raiden</p>
                    </div>
                </div>
                <div class="charOption">
                    <div class="sliderWrapper">
                        <img class="sliderBorder" src="../../assets/img/characters/slider-inactive.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/inazuma/small-2.png" alt="">
                        <p class="">Yae</p>
                    </div>
                </div>
                <div class="charOption">
                    <div class="sliderWrapper">
                        <img class="sliderBorder" src="../../assets/img/characters/slider-inactive.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/inazuma/small-3.png" alt="">
                        <p>Ayaka</p>
                    </div>
                </div>
                <div class="charOption">
                    <div class="sliderWrapper">

                        <img class="sliderBorder" src="../../assets/img/characters/slider-inactive.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/inazuma/small-4.png" alt="">    
                        <p>Kazuha</p>
                    </div>
                </div>
            </div>
            <div class="nextPage">
                <a href="liyue.html">
                    <img class="pageBefore" src="../../assets/img/characters/next-page.png" alt="">
                </a>
                <h1>Inazuma</h1>
                <a href="sumeru.html">
                    <img class="pageAfter" src="../../assets/img/characters/next-page.png" alt="">
                </a>
            </div>
            <ul class="sideBar">
                <li class="sideBarItem">
                    <a href="mondstadt.html">Mondstadt</a>
                </li>
                <li class="sideBarItem">
                    <a href="liyue.html">Liyue</a>
                </li>
                <li class="sideBarItem sideBarItem--active">
                    <a href="inazuma.html"  class="disabled">Inazuma</a>
                </li>
                <li class="sideBarItem">
                    <a href="sumeru.html">Sumeru</a>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <div class="footerLogo"></div>
        <div class="terms">
            <ul>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>About us</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="teen"></div>
        <div class="text">
            "PlayStation Family Mark," "PS5 logo" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.<br>
            Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered <br>trademarks of Epic Games. All other trademarks are the property of their respective owners.
        </div>
        <div class="hoyo">

        </div>
        <p>Copyright © COGNOSPHERE. All Rights Reserved.</p>
    </footer>

    <script src="../../assets/script/navFooter.js"></script>
    <script src="../../assets/script/inazuma.js"></script>
</body>
</html>