<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondstadt</title>
    <link rel="stylesheet" href="../../assets/style/characters/mondstadt.css">
</head>
<body>
    <div class="container">
        <div id="content">
            <div class="charVision">
                <img id="charVision" src="../../assets/img/characters/mondstadt/vision-1.png" alt="">
            </div>
            <div class="blackLine">
                <img src="../../assets/img/characters/darkbar.png" alt="">
            </div>
            <div class="char">
                <img id="charBigImg" src="../../assets/img/characters/mondstadt/big-1.png" alt="">
            </div>
            <div class="charName">
                <h1 id="charName">JEAN</h1>
            </div>
            <div class="clickMenu">
                <div class="charOption p-active">
                    <div class="sliderWrapper">
                        
                        <img class="sliderBorder" src="../../assets/img/characters/slider-active.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/mondstadt/small-1.png" alt="">
                    </div>
                    <p class="">Jean</p>
                </div>
                <div class="charOption">
                    <div class="sliderWrapper">
                        <img class="sliderBorder" src="../../assets/img/characters/slider-inactive.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/mondstadt/small-2.png" alt="">
                    </div>
                    <p class="">Lisa</p>
                </div>
                <div class="charOption">
                    <div class="sliderWrapper">
                        <img class="sliderBorder" src="../../assets/img/characters/slider-inactive.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/mondstadt/small-3.png" alt="">
                    </div>
                    <p>Venti</p>
                </div>
                <div class="charOption">
                    <div class="sliderWrapper">

                        <img class="sliderBorder" src="../../assets/img/characters/slider-inactive.png" alt="">
                        <img class="sliderImg" src="../../assets/img/characters/mondstadt/small-4.png" alt="">    
                    </div>
                    <p>Klee</p>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../../assets/script/mondstadt.js"></script>
</body>
</html>