.container{
    width: 100%;
    height: 100%;
    /* background-color: #f5f5f5; */
    /* margin: 0; */
}

body{
    background-image: url(../img/about/background-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

#jumbotron-1{
    background-image: url(../img/about/jb-1-background.png);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* #jumbotron-1 *{
    border: green solid 3px;
} */
#jumbotron-1 .img-container{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 10%;
    display: flex;
    justify-content: center;
}

#jumbotron-1 .img-container img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

@media (max-width: 768px) {
    #jumbotron-1 .img-container{
        bottom: 40%;
    }

    #jumbotron-1 .img-container img{
        /* add shadow */
        box-shadow: inset 2px 3px 100px rgba(0,0,0,0.7);
    }
}

#jumbotron-2 *{
    /* border: yellow solid 3px; */
}

#jumbotron-2{
    /* border: red solid 3px; */
    position: relative;
    width: 100vw;
    height: 100vh;
}

#jumbotron-2 .title{
    top: 12%;
    box-sizing: border-box;
    height: 10%;
    width: 100%;


    position: absolute;

    color: white;
    font-family: 'Tahoma';
    font-weight : 550;
    /* add space between letter  */
    letter-spacing: 2px;

    font-size: clamp(1rem, calc(1vw + 2vh), 5rem);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.title .rightTitle{
    transform: rotate(180deg);
}

.title img{
    width: 25%;
    height: 100%;
    object-fit: contain;
}

#jumbotron-3{
    position: relative; 
    width: 100vw;
    height: 300vh;
    /* border: red solid 3px; */
}

#jumbotron-3 *{
    /* border: yellow solid 3px; */
}

#jumbotron-3 .title{
    top: 4%;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    position: absolute;
    color: white;
    font-family: 'Tahoma';
    font-weight : 550;
    /* add space between letter  */
    letter-spacing: 2px;
    font-size: clamp(1rem, calc(1vw + 2vh), 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    text-align: center;
}

#features{
    position: absolute;
    top: 10%;
    left: 10%;
    /* border: green solid 3px; */
    width: 80%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.feature{
    /* border: white solid 3px; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.feature-img{
    width: 65%;
    height: 100%;
}

.feature-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.feature-desc{
    width: 35%;
    height: 100%;
    background-image: url(../img/about/feature-border.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #654f42;
    font-family: 'Tahoma';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.feature-desc-wrapper{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5vw;
}

.feature-desc h1{
    text-align: center;
    font-size: calc(1vh + 1vw);
    font-weight: 550;
}


.feature:nth-child(even) .feature-desc{
    transform: translate(-10%, -10%);
}

.feature:nth-child(odd) .feature-desc{
    transform: translate(10%, -10%);
}

.mb-10{
    margin-bottom: 10vh;
}

.characters{
    width: 25.75vw;
    height: 8.5vh;
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translate(-50%, 0);
    /* border: yellow solid 3px; */
}

.characters a{
    width: 100%;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.characters a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


h1{
    color : #804901;

    font-family: 'Tahoma';  
    font-weight: 550;
    font-size: calc(1vw + 1vh);
}


@media (max-width: 820px) {
    .feature:nth-child(even) .feature-desc{
        transform: none;
    }
    
    .feature:nth-child(odd) .feature-desc{
        transform: none;
    }

    .feature{
        flex-direction: column;
        align-items: center;
        height: 17%;
    }

    .feature-desc{
        width: 100%;
        height: 40%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/about/feature-border-2.png);
        margin: 0;
        padding: 0;
    }
    .feature-img{
        width: 95%;
        height: 60%;
    }
    
    .feature:nth-child(odd) .feature-desc{
        order: 1;
    }

    .feature-desc p{
        font-size: calc(1vh + .5vw);
        margin: 0;
        padding: 0;
    }

    .feature h1{
        font-size: calc(1vh + 1vw);
    }
}

#jumbotron-4{
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-bottom: 8vh;
}

#jumbotron-4 .title{
    top: 4%;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    position: absolute;
    color: white;
    font-family: 'Tahoma';
    font-weight : 550;
    /* add space between letter  */
    letter-spacing: 2px;
    font-size: clamp(1rem, calc(1vw + 2vh), 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    text-align: center;
}

.content-container{
    box-sizing: border-box;
    /* border: solid white 3px; */
    width: 100%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1vw;
}

.content-container .ss-carousel-container{
    box-sizing: border-box;

    width: 60%;
    height: 100%;
    border: solid white 3px;
    overflow: hidden;
}

.ss-carousel-slide{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    display: flex;
}

.ss-carousel-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    border: none;
    background-color: transparent;
}

button img{
    opacity: 80%;
    height: 10vh;
    width: 10vw;
    object-fit: scale-down;
    transition: opacity .3s ease;
}

button:hover img{
    opacity: 100%;
    transition: opacity .3s ease;
}

#nextBtn img{
    transform: rotate(180deg);
}

@media screen and (max-width: 820px) and (min-width: 376px){
    #jumbotron-4{
        height: 70vh;
        width: 100vw;
        position: relative;
    }
    .ss-carousel-slide img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    #jumbotron-4 .title{
        margin-top: 30px;
        font-size: calc(2vw + 1vh);
    }

    .content-container .ss-carousel-container{
        box-sizing: border-box;
    
        width: 60%;
        height: 100%;
        border: transparent;
        overflow: hidden;
    }

    .content-container{
        margin-top: 4%;
    }
}

@media (max-width: 375px) {
    #jumbotron-4{
        height: 60vh;
        width: 100vw;
        position: relative;
    }
    .ss-carousel-slide img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }



    #jumbotron-4 .title{
        margin-top: 30px;
        font-size: calc(2vw + 1vh);
    }

    .content-container .ss-carousel-container{
        box-sizing: border-box;
    
        width: 60%;
        height: 100%;
        border: transparent;
        overflow: hidden;
    }

    .content-container{
        margin-top: 4%;
    }
}