<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Game</title>
    <link rel="stylesheet" href="../assets/style/navFooter.css">
    <link rel="stylesheet" href="../assets/style/about.css">
</head>
<body>
    <!-- NavBar -->
    <div class="container">
        <div id="navBar">
            <div class="navBarItem ml-5">
                <div class="navBarLogo">
                    <img src="../assets/img/logo-white-no-bg.png" alt="">
                    <div class="navBarContent">
                        <div class="navBarClick"><a href="home.html">Home</a></div>
                        <div class="navBarClick"><a href="characters/mondstadt.html">Characters</a></div>
                        <div id="navBarDropDown" class="navBarClick">
                            <a href="#" class="disabled">Explore</a>
                            <div id="dropDownMenu">
                                <ul>
                                    <li><a href="maps.html">Maps</a></li>
                                    <li><a href="about.html">About Game</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navBarItem mr-5">
                <div class="navBarSignUp">
                    <div class="navBarClick"><a href="register.html">Register</a><img src="../assets/img/register.png" alt=""></div>
                </div>
            </div>
            <div class="hamburgerIcon">
                <svg class="open" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <svg class="close" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
            </div>
            <div class="navBarSide">

                <div class="navBarSideItem"><a href="home.html">Home</a></div>
                <div class="navBarSideItem"><a href="characters/mondstadt.html">Characters</a></div>
                <div class="navBarSideItem"><a href="maps.html">Maps</a></div>
                <div class="navBarSideItem"><a href="about.html">About Game</a></div>
                <div class="navBarSideItem"><a href="register.html">Register</a></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="jumbotron-1">
            <div class="img-container">
                <img src="../assets/img/about/avaiable-at-jb-1.png" alt="">
            </div>
        </div>

        <div id="jumbotron-2">
            <div class="title">
                <img class="leftTitle" src="../assets/img/about/arrow-title.png" alt="">
                Game Videos
                <img class="rightTitle" src="../assets/img/about/arrow-title.png" alt="">
            </div>
            
          <div class="carousel-nav">
            <label for="radio1"></label>
          </div>
        </div>

        <div id="jumbotron-3">
            <div class="title">
                <img class="leftTitle" src="../assets/img/about/arrow-title.png" alt="">
                Game Features
                <img class="rightTitle" src="../assets/img/about/arrow-title.png" alt="">
            </div>
        </div>
    </div>

    
</body>
</html>