<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Game</title>
    <link rel="stylesheet" href="../assets/style/navFooter.css">
    <link rel="stylesheet" href="../assets/style/about.css">
</head>
<body>
    <!-- NavBar -->
    <div class="container">
        <div id="navBar">
            <div class="navBarItem ml-5">
                <div class="navBarLogo">
                    <img src="../assets/img/logo-white-no-bg.png" alt="">
                    <div class="navBarContent">
                        <div class="navBarClick"><a href="home.html">Home</a></div>
                        <div class="navBarClick"><a href="characters/mondstadt.html">Characters</a></div>
                        <div id="navBarDropDown" class="navBarClick">
                            <a href="#" class="disabled">Explore</a>
                            <div id="dropDownMenu">
                                <ul>
                                    <li><a href="maps.html">Maps</a></li>
                                    <li><a href="about.html">About Game</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navBarItem mr-5">
                <div class="navBarSignUp">
                    <div class="navBarClick"><a href="register.html">Register</a><img src="../assets/img/register.png" alt=""></div>
                </div>
            </div>
            <div class="hamburgerIcon">
                <svg class="open" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <svg class="close" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                  </svg>
            </div>
            <div class="navBarSide">

                <div class="navBarSideItem"><a href="home.html">Home</a></div>
                <div class="navBarSideItem"><a href="characters/mondstadt.html">Characters</a></div>
                <div class="navBarSideItem"><a href="maps.html">Maps</a></div>
                <div class="navBarSideItem"><a href="about.html">About Game</a></div>
                <div class="navBarSideItem"><a href="register.html">Register</a></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="jumbotron-1">
            <div class="img-container">
                <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/avaiable-at-jb-1.png" alt="">
                <!-- <img src="../assets/img/about/avaiable-at-jb-1.png" alt=""> -->
            </div>
        </div>


        <div id="jumbotron-3">
            <div class="title">
                <img class="leftTitle" src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/arrow-title.png" alt="">
                Game Features
                <img class="rightTitle" src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/arrow-title.png" alt="">
            </div>
            <div id="features">
                <div class="feature">
                    <div class="feature-desc">
                        <div class="feature-desc-wrapper">
                            <h1>An Epic Fantasy Adventure</h1>
                            <p>Experience an immersive single-player campaign. As a traveler from another world, you will embark on a journey to reunite with your long-lost sibling and unravel the mysteries of Teyvat, and yourself.</p>
                        </div>
                    </div>
                    <div class="feature-img">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/features-1.png" alt="">
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-img">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/features-2.png" alt="">
                    </div>
                    <div class="feature-desc">
                        <div class="feature-desc-wrapper">
                            <h1>Your World to Discover</h1>
                            <p>Fly across the open world, swim through crystal-clear waters, and climb towering mountains. Stray off the beaten path to discover all the hidden secrets of a world full of wonder and mystery.</p>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-desc">
                        <div class="feature-desc-wrapper">
                            <h1>Travel Alone or Battle Together</h1>
                            <p>Charge head-on into battles solo, or invite friends to join the fight against dangerous monsters with 4-player cross-play for PS4, iOS, Android, and PC.</p>
                        </div>
                    </div>
                    <div class="feature-img">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/features-3.png" alt="">
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-img">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/features-4.png" alt="">
                    </div>
                    <div class="feature-desc">
                        <div class="feature-desc-wrapper">
                            <h1>Master the Seven Elements</h1>
                            <p>Not just another mindless hack and slash. Manipulating the various elements is the key to defeating powerful enemies and solving challenging puzzles.</p>
                        </div>
                    </div>
                </div>
                <div class="feature mb-10">
                    <div class="feature-desc">
                        <div class="feature-desc-wrapper">
                            <h1>Build Your Dream Team</h1>
                            <p>Choose who fights by your side. Build your party from over 20+ characters (with more to come) — each with unique abilities, personalities, and combat styles.</p>
                        </div>
                    </div>
                    <div class="feature-img">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/features-5.png" alt="">
                    </div>

                    <div class="characters">
                        <a href="../template/characters/mondstadt.html">
                            <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/button-image.png" alt="">
                            <h1>View Characters<h1>
                        </a>
                    </div>
                </div>
            </div>  

        </div>

        <div id="jumbotron-4">
            <div class="title">
                <img class="leftTitle" src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/arrow-title.png" alt="">
                Game Screenshots
                <img class="rightTitle" src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/arrow-title.png" alt="">
            </div>
            <div class="content-container">
                <button id="prevBtn"><img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/nextPrev.png" alt=""></button>
                <div class="ss-carousel-container">
                    <div class="ss-carousel-slide">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/photos-5.jpeg" id="lastClone" alt="">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/photos-1.jpeg" alt="">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/photos-2.jpeg" alt="">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/photos-3.jpeg" alt="">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/photos-4.jpeg" alt="">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/photos-5.jpeg" alt="">
                        <img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/photos-1.jpeg" id="firstClone"alt="">
                    </div>
                </div>
                <button id="nextBtn"><img src="https://raw.githubusercontent.com/JeffTimoman/assetHci/main/about/nextPrev.png" alt=""></button>
            </div>
        </div>
    </div>

    <footer>
        <div class="footerLogo"></div>
        <div class="terms">
            <ul>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
                <li>About us</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <div class="teen"></div>
        <div class="text">
            "PlayStation Family Mark," "PS5 logo" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.<br>
            Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered <br>trademarks of Epic Games. All other trademarks are the property of their respective owners.
        </div>
        <div class="hoyo">

        </div>
        <p>Copyright © COGNOSPHERE. All Rights Reserved.</p>
    </footer>
    <script src="../assets/script/about.js"></script>
    <script src="../assets/script/navFooter.js"></script>
    
</body>
</html>