<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/navFooter.css">
    <link rel="stylesheet" href="../assets/style/home.css">
    <title>Home</title>
</head>
<body>  
    
    <div class="container">
        <div class="jumbotron-1">
            <h1>
                Release on Multiple Platforms - Download Now!
            </h1>

            <div id="downloadNow">
                <div class="download-img">
                    <img src="../assets/img/home/ps4.png" alt="">
                </div>
                <div class="download-img">
                    <img src="../assets/img/home/appstore.png" alt="">
                </div>
                <div class="download-img">
                    <img src="../assets/img/home/googleplay.png" alt="">
                </div>
                <div class="download-img">
                    <img src="../assets/img/home/windows.png" alt="">
                </div>
            </div>
            <img class="downloadHid" src="../assets/img/home/download-img.png" alt="">
        </div>

        <div class="jumbotron-2">
                <h1 class="new-char">New Characters</h1>
            <div class="jumbotron-2-item">
                
                <div class="char-label">
                    <img src="../assets/img/home/jumbotron-2/dehya-label.webp" alt="">
                    <p>
                        A member of the Eremites, a mercenary
                        organization that roams the sands of
                        Sumeru. Valiant and powerful, she 
                        enjoys great fame amongst her fellow
                        Eremites.
                    </p>
                </div>
                    
                <div id="dehya">
                    <img src="../assets/img/home/jumbotron-2/dehya-with-cage.webp" alt="">
                </div>
            </div>
            <div class="jumbotron-2-item">
                <div class="char-label char-label-hidden">
                    <img src="../assets/img/home/jumbotron-2/mika-label.webp" alt="">
                </div>
                <div id="mika">
                    <img src="../assets/img/home/jumbotron-2/mika-in-frame.webp" alt="">
                </div>
                <div class="char-label char-label-unhidden">
                    <img src="../assets/img/home/jumbotron-2/mika-label.webp" alt="">
                    <p>
                        A young knight born to an ordinary 
                        family. He serves as a Front-Line 
                        Surveyor in his Company. He is a low-
                        key and cautious character 
                    </p>
                </div>
            </div>
        </div>

        <div class="jumbotron-3">
            <h1>New Weapons</h1>
            <div class="jb3-unhid">
                <img src="../assets/img/home/jumbotron-3/weapon-banner.png" alt="">
            </div>
            <div class="jb3-hid tryHid">
                <img src="../assets/img/home/jumbotron-3/dehya-weapon.png" alt="">
                <img src="../assets/img/home/jumbotron-3/mika-weapon.png" alt="">
            </div>
            
        </div>
    </div>

    <footer>
        <div class="container">
            <div id="footer">
                <img id="footerHid" src="../assets/img/logo-white-no-bg.png" alt="">
                <div class="footerItem">

                    <img id="footerLogo" src="../assets/img/logo-white-no-bg.png" alt="">
                </div>
                <div class="footerItem">
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Terms of Service</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                    </ul>
                </div>

                <div class="footerItem">
                    <img id="footerTeen"src="../assets/img/teen-ersb.png" alt="">
                </div>

                <div class="footerItem">
                    <p>"PlayStation Family Mark," "PS5 logo" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                        
                    <p>
                        Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their
                    </p>

                    <p> respective owners.</p>
                </div>
                <div class="footerItem">
                    <img id="footerHoyo"src="../assets/img/hoyoverse-logo.png" alt="">
                </div>
                <div class="footerItem footerLast">
                    Copyright © COGNOSPHERE. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/script/navFooter.js"></script>
    
</body>
</html>