<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/navFooter.css">
    <title>Home</title>
</head>
<body>
    <header>

        <div class="container">
            <div id="navBar">
                <div class="navBarItem">
                    <ul>
                        <img src="../assets/img/logo-white-no-bg.png" alt="">
                        <li><a>Home</a></li>
                        <li><a>Characters</a></li>
                        <li id="dropdown-menu"><a>Explore</a></li>
                    </ul>
                </div> 
                <div class="navBarItem">
                    <div id="navBarReg">
                        <a href="#">
                            Sign Up
                            <img src="../assets/img/home/register.png"alt="">
                        </a>
                    </div>
                        
                </div>
            </div>
        </div>
    </header>

    <div>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore doloremque atque rem facere reprehenderit, cum eaque inventore obcaecati quaerat possimus voluptatem expedita nihil vero odit adipisci hic rerum officiis delectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, rem dignissimos veniam quas, hic quaerat autem animi incidunt aliquid quia consectetur ex porro necessitatibus nesciunt saepe delectus error recusandae minima?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, laudantium! Incidunt exercitationem corporis eligendi, eaque eius ipsa voluptatibus, dolorem nihil dolore ipsam labore saepe ad, quibusdam doloribus dignissimos laboriosam officiis.</p>
    </div>


    <footer>
        <div class="container">
            <div id="footer">
                <div class="footerItem">

                    <img id="footerLogo" src="../assets/img/logo-white-no-bg.png" alt="">
                </div>
                <div class="footerItem">
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Terms of Service</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                    </ul>
                </div>

                <div class="footerItem">
                    <img id="footerTeen"src="../assets/img/teen-ersb.png" alt="">
                </div>

                <div class="footerItem">
                    <p>"PlayStation Family Mark," "PS5 logo" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                        
                    <p>
                        Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their
                    </p>

                    <p> respective owners.</p>
                </div>
                <div class="footerItem">
                    <img id="footerHoyo"src="../assets/img/hoyoverse-logo.png" alt="">
                </div>
                <div class="footerItem footerLast">
                    Copyright © COGNOSPHERE. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/script/navFooter.js"></script>
    
</body>
</html>