<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/navFooter.css">
    <link rel="stylesheet" href="../assets/style/home.css">
    <title>Home</title>
</head>
<body>

    <div class="container">
        <div class="jumbotron-1">
            <div class="jumbotron-1-item">

                <h1>Released on Multiple Platform - Download Now!</h1>
                <div class="downloadNow">
                    <img src="../assets/img/home/ps4.png" alt="">
                    <img src="../assets/img/home/appstore.png" alt="">
                    <img src="../assets/img/home/googleplay.png" alt="">
                    <img src="../assets/img/home/windows.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron-2">
            <h1>Naisyu</h1>
        </div>
    </div>

    <footer>
        <div class="container">
            <div id="footer">
                <div class="footerItem">

                    <img id="footerLogo" src="../assets/img/logo-white-no-bg.png" alt="">
                </div>
                <div class="footerItem">
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Terms of Service</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                    </ul>
                </div>

                <div class="footerItem">
                    <img id="footerTeen"src="../assets/img/teen-ersb.png" alt="">
                </div>

                <div class="footerItem">
                    <p>"PlayStation Family Mark," "PS5 logo" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.</p>
                        
                    <p>
                        Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their
                    </p>

                    <p> respective owners.</p>
                </div>
                <div class="footerItem">
                    <img id="footerHoyo"src="../assets/img/hoyoverse-logo.png" alt="">
                </div>
                <div class="footerItem footerLast">
                    Copyright © COGNOSPHERE. All Rights Reserved
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/script/navFooter.js"></script>
    
</body>
</html>