
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="temp.css">
</head>
<body>
  <div class="content">
    <div class="carousel">
      <div class="carousel-content">
        <div class="carousel-item active">
          <img src="../assets/img/about/videos-1.jpeg" alt="Slide 1">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/about/videos-1.jpeg" alt="Slide 2">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/about/videos-1.jpeg" alt="Slide 3">
        </div>
        
      </div>
    </div>
    <div class="carousel-nav">
      <label for="radio1"></label>
      <label for="radio2"></label>
      <label for="radio3"></label>
    </div>
  </div>
</body>
</html>