#container{
    margin-left: 25%;
    margin-top: 5%;
    height: 70vh;
    width: 50vw;
    border: black solid 3px;
    position: relative;
}

#container2{
    margin-left: 25%;
    margin-top: 10%;
    height: 70%;
    width: 50%;
    border: black solid 3px;
    position: relative;
}

img{
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
}